<div class="container">
  <mat-card fxFlex="100%" fxFlex.md="50%" fxFlex.gt-md="33%">
    <div *ngIf="sentForCaveat">Please create a new password. It can be the same as the one you were assigned.</div>
    <form (ngSubmit)="changePassword()" [formGroup]="changePasswordForm" novalidate>
      <div class="change-password-error" [hidden]="!error || isLoading">
        Password change failed.
      </div>
      <br />
      <div fxLayout="column">
        <mat-form-field>
          <input type="password" matInput formControlName="oldPassword"
                 [placeholder]="'Old Password' | translate" required />
          <mat-error>
            <span>Old Password is required</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput formControlName="newPassword"
                 [placeholder]="'New Password' | translate" required />
          <mat-error>
            <span>New Password is required</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput formControlName="confirmPassword"
                 [placeholder]="'Confirm Password'" required />
          <mat-error>
            <span>Password confirmation is required</span>
          </mat-error>
        </mat-form-field>
        <br />
        <button mat-raised-button color="primary" type="submit" [disabled]="changePasswordForm.invalid || isLoading">
          <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
          <span>CHANGE PASSWORD</span>
        </button>
      </div>
    </form>
  </mat-card>
</div>
