<div class="container">
  <mat-card fxFlex="100%" fxFlex.md="50%" fxFlex.gt-md="33%">
    <div *ngIf="sentForCaveat">
      Please create a new password. It can be the same as the one you were assigned.
    </div>
    <form (ngSubmit)="changePassword()" [formGroup]="form" novalidate>
      <div class="change-password-error" [hidden]="!error || isLoading">
        Password change failed.
      </div>
      <br />
      <div fxLayout="column">
        <mat-form-field>
          <input type="password"
                 matInput formControlName="oldPassword"
                 placeholder="Old Password" required />
          <mat-error>
            <validation-warning [control]="form.controls.oldPassword"
                                controlTitle="Old Password">
            </validation-warning>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="password"
                 matInput formControlName="newPassword"
                 placeholder="New Password" required />
          <mat-error>
            <validation-warning [control]="form.controls.newPassword"
                                controlTitle="New Password">
            </validation-warning>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="password"
                 matInput formControlName="confirmPassword"
                 placeholder="Confirm Password"
                 [errorStateMatcher]="passwordMatchErrorMatcher" required />
          <mat-error>
            Passwords do not match.
          </mat-error>
        </mat-form-field>
        <br />
        <button type="submit" mat-raised-button color="primary"
                [disabled]="form.invalid || isLoading">
          <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
          CHANGE PASSWORD
        </button>
      </div>
    </form>
  </mat-card>
</div>
