@import "src/theme/theme-variables";

.container {
  text-align: center;
  padding: 1em;
  width: 100%;
}

:host {
  display: flex;
  flex: 1;
  background-color: #f5f5f5;
}

.inline-loader {
  display: inline-block;
}

.change-password-error {
  color: mat-color($app-warn);
}
