<div class="container">
  <form (ngSubmit)="changePassword()" [formGroup]="changePasswordForm" novalidate>
    <div class="change-password-error" [hidden]="!error || isLoading">
      Password change failed.
    </div>
    <br />
    <div fxLayout="column">
      <mat-form-field>
        <input type="password" matInput formControlName="oldPassword"
               [placeholder]="'Old Password' | translate" required />
        <mat-error *ngIf="registerForm.controls.oldPassword.valid || registerForm.controls.oldPassword.untouched">
          <span translate>Old Password is required</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput formControlName="newPassword"
               [placeholder]="'New Password' | translate" required />
        <mat-error *ngIf="registerForm.controls.newPassword.valid || registerForm.controls.newPassword.untouched">
          <span translate>New Password is required</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput formControlName="confirmPassword"
               [placeholder]="'Confirm Password'" required />
        <mat-error *ngIf="registerForm.controls.confirmPassword.valid || registerForm.controls.confirmPassword.untouched">
          <span>Password confirmation is required</span>
        </mat-error>
      </mat-form-field>
      <br />
      <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid || isLoading">
        <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
        <span>CHANGE PASSWORD</span>
      </button>
    </div>
  </form>
</div>
