<div fxFill fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1.5rem" class="mat-typography" *ngIf="!isLoading">
  <div>
    <h1 class="mat-display-2" fxLayoutAlign="center" translate>APP_NAME</h1>
  </div>
  <div class="confirm-email-container" fxLayout="row" fxLayoutAlign="center">
    <mat-card fxFlex="90%" fxFlex.sm="66%" fxFlex.md="50%" fxFlex.gt-md="33%" class="register-box">
      <h1 class="headline">Email Confirmation Failed</h1>
      Something didn't work while confirming your email. Please log in again and request another confirmation email. <br />
      <br />
      <a mat-button color="primary" [routerLink]="['/login']">
        RETURN TO LOGIN
      </a>
    </mat-card>
  </div>
</div>
