<div fxFill fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1.5rem"
     class="mat-typography">
  <div>
    <h1 class="mat-display-2" fxLayoutAlign="center" translate>
      APP_NAME
    </h1>
  </div>
  <div class="login-container" fxLayout="row" fxLayoutAlign="center">
    <div fxFlex="90%" fxFlex.sm="66%" fxFlex.md="50%" fxFlex.gt-md="33%">
      <mat-card class="login-box">
        <h1 class="headline">
          Login
        </h1>
        <form (ngSubmit)="login()" [formGroup]="form" novalidate>
          <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="1rem">
            <app-server-errors [errors]="errors"></app-server-errors>
            <div fxLayout="column">
              <mat-form-field>
                <input type="text"
                        matInput formControlName="email" autocomplete="username"
                        placeholder="Email Address" required />
                <mat-error>
                  <validation-warning [control]="form.controls.email"
                                      controlTitle="Email Address">
                  </validation-warning>
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <input type="password"
                        matInput formControlName="password"
                        autocomplete="current-password"
                        placeholder="Password" required />
                <mat-error>
                  <validation-warning [control]="form.controls.password"
                                      controlTitle="Password">
                  </validation-warning>
                </mat-error>
              </mat-form-field>
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <mat-slide-toggle color="primary"
                                  formControlName="remember" translate>
                  Remember me
                </mat-slide-toggle>
                <a mat-raised-button [routerLink]="['/register']" queryParamsHandling="preserve">
                  REGISTER
                </a>
              </div>
            </div>
            <button type="submit"
                    mat-raised-button color="primary"
                    [disabled]="form.invalid || isLoading">
              <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
              LOGIN
            </button>
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="end center" fxLayoutAlign.lt-md="start center" fxLayoutGap="0.5rem">
              <span>Sign in with: </span>
              <a mat-raised-button href="https://www.facebook.com/v3.2/dialog/oauth?client_id=2261817204105691&redirect_uri=https://localhost:44306/external-login-callback&state=Facebook" queryParamsHandling="preserve">
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="24px">
                  <img class="button-img" src="assets/f-ogo_RGB_HEX-58.png" alt="angular logo" />
                  <span>FACEBOOK</span>
                </div>
              </a>
              <a mat-raised-button href="https://accounts.google.com/o/oauth2/v2/auth?oauthgdpr=1&client_id=350476418062-0me9iljbrpb9tva5kh97ddppv53i3kgf.apps.googleusercontent.com&redirect_uri=https://localhost:44306/external-login-callback&response_type=code&scope=profile&state=Google" queryParamsHandling="preserve">
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="24px">
                  <img class="button-img" src="assets/google-logo-72.png" alt="angular logo" />
                  <span>GOOGLE</span>
                </div>
              </a>
            </div>
          </div>
        </form>
      </mat-card>
      <div fxLayoutAlign="end">
        <a mat-button [routerLink]="['/forgot-password']" queryParamsHandling="preserve">
          Forgot Password
        </a>
      </div>
    </div>
  </div>
</div>
