<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
  <p>
    {{content}}
  </p>
  <mat-form-field>
    <input [(ngModel)]="value" matInput
            (keyup.enter)="submitData()"
            [type]="type"
            [placeholder]="placeholder" required />
  </mat-form-field>
</div>
<mat-dialog-actions>
  <button mat-button [color]="submitColor" [disabled]="!regExp.test(value)" (click)="submitData()">{{submitText}}</button>
  <button mat-button [color]="cancelColor" [mat-dialog-close]="null">{{cancelText}}</button>
</mat-dialog-actions>
