@import "src/theme/theme-variables";

.container {
  padding: 1rem;
}

.mat-icon {
  vertical-align: middle;
}

.inline-loader {
  display: inline-block;
}

.search-bar {
  background-color: mat-color($app-primary, lighter);
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.user-card {
  margin-bottom: .5rem;
}
