<div class="search-bar" fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutGap="1.0rem">
  <mat-form-field fxFlex.xs="100%" fxFlex.sm="50%" fxflex.md="30%" fxFlex.lg="20%" fxFlex.xl="10%">
    <input #adminUserSearch (keyup)="updateSearch(adminUserSearch.value)" matInput placeholder="Search users">
  </mat-form-field>

  <mat-form-field fxFlex.xs="100%" fxFlex.sm="50%" fxflex.md="30%" fxFlex.lg="20%" fxFlex.xl="10%">
    <mat-label>Sort by</mat-label>
    <mat-select #adminUserSort (selectionChange)="updateSort($event)" [(value)]="currentSort">
      <mat-option *ngFor="let sort of sorts" [value]="sort">
        {{sort.description}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="container" fxLayout="row wrap" fxLayoutGap.gt-xs="0.5em">
  <app-loader class="inline-loader" [isLoading]="isLoading" *ngIf="isLoading"></app-loader>
  <div class="user-card" *ngFor="let user of users.list" fxFlex.md="75%" fxFlex.lg="50%" fxFlex.xl="30%" fxFlex.lt-md="100%">
    <mat-card fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between start" fxLayoutAlign.xs="start start" fxLayoutGap.xs="0.5em">
      <div fxLayout="column" fxLayoutAlign="space-between start">
        <div class="mat-title">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
            <app-highlight-substring [content]="user.firstName + ' ' + user.lastName" [substrings]="searchSubstrings"></app-highlight-substring>
            <div *ngFor="let provider of user.externalLogins">
              <img class="social-img" src="{{ constantsService.getExternalLoginProvider(provider).imageUrl }}" alt="angular logo" />
            </div>
          </div>
        </div>
        <div>
          <div><app-highlight-substring [content]="user.email" [substrings]="searchSubstrings"></app-highlight-substring></div>
          <div><app-highlight-substring [content]="user.phoneNumber" [substrings]="searchSubstrings"></app-highlight-substring></div>
        </div>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="0.5em" fxLayoutAlign="space-between start" fxFlex.gt-xs="60%">
        <div>
          <div>
            <div *ngFor="let role of user.roles" fxLayout="row" fxLayoutAlign="space-between center">
              <span>{{roleNames[role]}}</span>
              <button mat-icon-button color="warn" [disabled]="role === 'Admin' && _authorizationService.isCurrentUser(user.id)" (click)="removeRole(user, role)">X</button>
            </div>
          </div>
        </div>
        <div fxLayout="column" fxLayout.xs="row" fxLayoutAlign="space-between end">
          <mat-menu #roleMenu="matMenu">
            <ng-container *ngFor="let roleId of roleIdentifiers">
              <button mat-menu-item *ngIf="!user.roles.includes(roleId)" (click)="addRole(user, roleId)">{{ roleNames[roleId] }}</button>
            </ng-container>
          </mat-menu>

          <button mat-button color="primary" [matMenuTriggerFor]="roleMenu" [disabled]="user.roles.length === roleIdentifiers.length">ADD ROLE</button>
          <button mat-button color="warn" (click)="deleteUser(user)" [disabled]="_authorizationService.isCurrentUser(user.id)">DELETE USER</button>
        </div>
      </div>
    </mat-card>
  </div>
</div>
